<div class = "homepage">
  <div class = "container-fluid">
  <div class = "col-sm-6">
  	<div class = "col-sm-6">
  	</div>
  	<div class = "col-sm-6 data">
	  	<h1>Welcome to Connectify</h1>
	  	<h3>Connect with your friends — and other fascinating people. Get in-the-moment updates from twitter and facebook on the things that interest you. And watch events unfold, in real time, from every angle.</h3>
	  </div>
     
  </div>
  <div class = "col-sm-6">
    
     <%= render 'devise/sessions/new'%>
     <%= render 'devise/registrations/new' %>
    </div>
  

  </div>
<div>
