<div class = "homepage">
  <div class = "container-fluid">
  <div class = "col-sm-6">
     
  </div>
  <div class = "col-sm-6">
    
     <%= render 'devise/sessions/new'%>
     <%= render 'devise/registrations/new' %>
    </div>
  

  </div>
<div>
